
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.n1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  padding: 16px 120px;
}
.nl{
  list-style: none;
  display: flex;
  gap: 32px;
  font-size: 16px;
  font-weight: 500px;
}
.nl a{
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}
.nl a:hover {
  color: #30B868;
}
.navbtn a{
  background-color: green;
  color: #FFFFFF;
  padding: 12px 16px;
  border-radius: 4px;
  gap: 10px;
  height: 44px;
  width: 164px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600px;
}
.navbtn a:hover{
  background-color: red;
}
.logo img {
  height: 60px;
  gap: 10px;
  margin-right: 120px;
}
.hero {
  position: relative;
  width: 100%;
  height: 674px;
}
.hero-bg {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ensures image covers area */
  position: absolute;
}
.hero-content{
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  /* color: #333; */
  padding-top: 100px; /* adjust spacing */
}
.dot{
    width: 16px;
    height: 16px;
    gap: 1.5px;
}
.heroline{
    font-size: 16px;
    font-weight: 500px;
}
.both button{
    border: none;
    border-radius: 1000px;
    font-weight: 550;
    color: #30B868;
    padding: 8px 12px;
}
.hero-title{
    width: 770px;
    height: 168px;
    font-weight: bolder;
}
.hero-content .p1{
    width: 770px;
    color: #FFFFFF;
}
.hero-content .p2{
    width: 770px;
    color: #30B868;
}
.hero-content .hero-description{
    font-weight: 400px;
    font-size: 18px;
    color: #FFFFFF;
}
.hero-buttons .btn1{
    border: none;
    border-radius: 4px;
    background-color: #30B868;
    font-weight: 600px;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 16px;
    width: 251px;
    height: 52px;
    gap: 10px;
    cursor: pointer;
}
.hero-buttons .btn2{
    border: 1px solid #FFFFFF;
  background: transparent;
    border-radius: 4px;
    font-weight: 600px;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 16px;
    width: 198px;
    height: 52px;
    gap: 10px;
    cursor: pointer;
}
.hero-buttons .btn1:hover{
    background-color: red;
}
.hero-buttons .btn2:hover{
    background-color: red;
}
.c1 img{
    background-color: #F95555;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-size: 60px 60px;
}
.c2{
    width: 322px;
    height: 300px;
    border: 2px solid whitesmoke;
    border-radius: 8PX;
    background-color: #FFFFFF;
    box-shadow: 8px px 10px grey;
    text-align: center;
    align-items: center;
    padding: 24px 24px;
}
.c2:hover{
    background-color: lavenderblush;
}
.c1 h3{
font-weight: 600px;
font-size: 24px;
color: #001931;
}
.card{
    /* margin-right: 0px; */
    margin-left: 240px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 24px;
    /* align-items: center; */
    align-content: center;
}
.c1{
    text-align: center;
}
.note{
    font-size: 48px;
    font-weight: 700px;
    color: #001931;
}
.note2{
    font-size: 16px;
    font-weight: 400px;
    color: #627382;
}
.c1 p{
    font-size: 16px;
    font-weight: 400px;
    color: #627382;
}