
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.n1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  padding: 16px 120px;
}
.nl{
  list-style: none;
  display: flex;
  gap: 32px;
  font-size: 16px;
  font-weight: 500px;
}
.nl a{
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}
.nl a:hover {
  color: #30B868;
}
.navbtn a{
  background-color: green;
  color: #FFFFFF;
  padding: 12px 16px;
  border-radius: 4px;
  gap: 10px;
  height: 44px;
  width: 164px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600px;
}
.navbtn a:hover{
  background-color: red;
}
.logo img {
  height: 60px;
  gap: 10px;
  margin-right: 120px;
}
.hero {
  position: relative;
  width: 100%;
  height: 674px;
}
.hero-bg {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ensures image covers area */
  position: absolute;
}
.hero-content{
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  /* color: #333; */
  padding-top: 100px; /* adjust spacing */
}
.dot{
    width: 16px;
    height: 16px;
    gap: 1.5px;
}
.heroline{
    font-size: 16px;
    font-weight: 500px;
}
.both button{
    border: none;
    border-radius: 1000px;
    font-weight: 550;
    color: #30B868;
    padding: 8px 12px;
}
.hero-title{
    width: 770px;
    height: 168px;
    font-weight: bolder;
}
.hero-content .p1{
    width: 770px;
    color: #FFFFFF;
}
.hero-content .p2{
    width: 770px;
    color: #30B868;
}
.hero-content .hero-description{
    font-weight: 400px;
    font-size: 18px;
    color: #FFFFFF;
}
.hero-buttons .btn1{
    border: none;
    border-radius: 4px;
    background-color: #30B868;
    font-weight: 600px;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 16px;
    width: 251px;
    height: 52px;
    gap: 10px;
    cursor: pointer;
}
.hero-buttons .btn2{
    border: 1px solid #FFFFFF;
  background: transparent;
    border-radius: 4px;
    font-weight: 600px;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 16px;
    width: 198px;
    height: 52px;
    gap: 10px;
    cursor: pointer;
}
.hero-buttons .btn1:hover{
    background-color: red;
}
.hero-buttons .btn2:hover{
    background-color: red;
}
.c1 img{
    background-color: #F95555;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-size: 60px 60px;
}
.c2{
    width: 322px;
    height: 300px;
    border: 2px solid whitesmoke;
    border-radius: 8PX;
    background-color: #FFFFFF;
    box-shadow: 8px px 10px grey;
    text-align: center;
    align-items: center;
    padding: 24px 24px;
}
.c2:hover{
    background-color: lavenderblush;
}
.c1 h3{
font-weight: 600px;
font-size: 24px;
color: #001931;
}
.card{
    margin-left: 240px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 24px;
    align-content: center;
    cursor: pointer;
}
.c1{
    text-align: center;
}
.note{
    font-size: 48px;
    font-weight: 700px;
    color: #001931;
}
.note2{
    font-size: 16px;
    font-weight: 400px;
    color: #627382;
}
.c1 p{
    font-size: 16px;
    font-weight: 400px;
    color: #627382;
}
.knowledge{
    display: flex;
}
.no{
    margin-top: 120px;
    margin-left: 240px;
    height: 600px;
    width: 600px;
    border-radius: 12px;
    gap: 60px;
}
.box{
    margin-left: 60px;
    margin-right: 120px;
    text-align: justify;
}
.box li{
    list-style: none;
}
.box h3{
    margin-top: 222px;
    color: #30B868;
    font-size: 16px;
    font-weight: 500px;
    width: 700px;
}
.box h1{
    color: #001931;
    font-size: 48px;
    font-weight: 700px;
    width: 700px;
}
.box p{
    color: #627382;
    font-size: 16px;
    font-weight: 400px;
    width: 700px;
}
.box li{
     color: #001931;
    font-size: 16px;
    font-weight: 500px;
}
.bx{
    margin-top: 120px;
    margin-left: 240px;
    margin-right: 240px;
    text-align: center;
    background-color: #F7F6F2;
    margin-bottom: 120px;
    border-radius: 12px;
}
.bx h1{
    margin-top: 80px;
    text-align: center;
font-size: 40px;
font-weight: 700px;
 color: #001931;
}
.bx .bbk{
    font-size: 16px;
    font-weight: 400px;
    color: #627382;
}
.bx button{
    border: none;
    background-color: #30B868;
    color: #FFFFFF;
    padding: 12px 16px;
    height: 52px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600px;
}
.bx .bbk2{
     font-size: 16px;
    font-weight: 400px;
    color: #627382;
    margin-bottom: 80px;
}
.bx button:hover{
    background-color: red;
}
.f1{
    border: none;
    background-color: #001931;
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px;
}
.f1 li img{
    height: 20px;
    width: 20px;
}
.fl{
    margin-top: 120px;
    margin-right: 120px;
    margin-bottom: 80px;
}
.list{
    margin-right: 120px;
    list-style: none;
    display: flex;
     display: flex;
  justify-content: space-between;
  align-items: center;
}
.list img{
    background-color: #FFFFFF;
    border-radius: 50%;
    gap: 16px;
}
.l5{
    margin-top: 120px;
    margin-left: 120px;
    margin-bottom: 80px;
    width: 139px;
    height: 60px;
}
.f1 p{
    margin-right: 120px;
    width: 113px;
    height: 28px;
    font-size: 20px;
    font-weight: 500px;
    color: #FFFFFF;
}